{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} 500 {% endblock %}
{% block style_css %}
	<link href='http://127.0.0.1:90/static/css/base.css' rel='stylesheet'>
	<link rel='shortcut icon' href='http://127.0.0.1:90/img/icono.png'>
{% endblock %}
{% block encabezado %} 
	<h1>Recetario :( </h1>
{% endblock %}

{% block contenido %}
  <h1>Lo sentimos nuestro servidor se quedo dormido, hacemos todos los esfuerzos
   por despertarlo. Un poquito de paciencia. </h1>
  <p>
  	<img src='http://127.0.0.1:90/static/img/leono.jpg'>
  </p>
{% endblock %}
