<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>Recetario para MDW - {% block titulo %}{% endblock %}</title>
  <link rel='stylesheet' href='{{STATIC_URL}}css/base.css'>
  <link rel='shortcut icon' href='{{STATIC_URL}}img/icono.png'>
  {% block style_css %}{% endblock %}
  <script src='{{STATIC_URL}}js/jquery-1.7.2.min.js'></script>
  <script src='{{STATIC_URL}}js/demo.js'></script>
</head>
<body>
  <header>
	{% block encabezado %}{% endblock %}
	<nav>
	  <ul id='menu'>
		  <li><a href='/'>Inicio</a></li>
		  <li><a href='/usuarios'>Usuarios registrados</a></li>
		  <li><a href='/recetas'>Recetas</a></li>
      <li><a href="/comenta">Comenta</a></li>
		  <li><a href='/sobre'>Sobre</a></li>
      <li><a href="/contacto">Contactanos</a></li>
    </ul>
	</nav>
	<hr>
  </header>	
  <section class='contenido'>
	{% block contenido %}{% endblock %}
  </section>
  <footer>
	<p>Proyecto de ejemplo para el curso Django de Maestros del Web &copy;2012</p>
  </footer>
</body>
</html>
